# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Rider files
.idea/

# Build and output directories
/bin/
/obj/
*.dll
*.exe

# Packages
/packages/

# User-specific files
*.userprefs
*.usertasks

# Dependency directories
node_modules/
bower_components/
Final-Project-OOP/Final-Project-OOP/obj/Debug/net7.0/Final-Project-OOP.GeneratedMSBuildEditorConfig.editorconfig
Final-Project-OOP/Final-Project-OOP/obj/Debug/net7.0/Final-Project-OOP.GeneratedMSBuildEditorConfig.editorconfig
Final-Project-OOP/Final-Project-OOP/obj/Final-Project-OOP.csproj.nuget.g.props
Final-Project-OOP/Final-Project-OOP/obj/project.nuget.cache
Final-Project-OOP/Final-Project-OOP/obj/Debug/net7.0/Final-Project-OOP.GeneratedMSBuildEditorConfig.editorconfig
